<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>samdev</title>
    <style>
  
  </style>

</head>
<body>
<div class="terminal" id="terminal">
    <div class="ascii-art">
        _______  _______  _______  ___   _  _______  __    _  ______
        |  _    ||   _   ||       ||   | | ||       ||  |  | ||      |
        | |_|   ||  |_|  ||       ||   |_| ||    ___||   |_| ||  _    |
        |       ||       ||       ||      _||   |___ |       || | |   |
        |  _   | |       ||      _||     |_ |    ___||  _    || |_|   |
        | |_|   ||   _   ||     |_ |    _  ||   |___ | | |   ||       |
        |_______||__| |__||_______||___| |_||_______||_|  |__||______|
        _______  __    _  _______  ___   __    _  _______  _______  ______
        |       ||  |  | ||       ||   | |  |  | ||       ||       ||    _ |
        |    ___||   |_| ||    ___||   | |   |_| ||    ___||    ___||   | ||
        |   |___ |       ||   | __ |   | |       ||   |___ |   |___ |   |_||_
        |    ___||  _    ||   ||  ||   | |  _    ||    ___||    ___||    __  |
        |   |___ | | |   ||   |_| ||   | | | |   ||   |___ |   |___ |   |  | |
        |_______||_|  |__||_______||___| |_|  |__||_______||_______||___|  |_|
    </div>

    <div id="terminal-content">
        <!-- Content will be dynamically added here -->
    </div>

    <div class="prompt" id="input-prompt">
        <div id="current-line"></div>
        <div class="cursor-area"><span class="blink">█</span></div>
    </div>
</div>

<input type="text" id="command-input" autofocus>

<div class="nav">
    <button class="nav-button" onclick=location.href='/blog' type="button">Blog</button>
    <button class="nav-button" onclick="executeCommand('cat skills.txt')">Skills</button>
    <button class="nav-button" onclick="executeCommand('ls -la projects/')">Projects</button>
    <button class="nav-button" onclick="executeCommand('more experience.log')">Experience</button>
    <button class="nav-button" onclick="executeCommand('echo $CONTACT_INFO')">Contact</button>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

</body>
</html>